################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/simple-vad/DesignTimeBuild
/.vs/ProjectEvaluation
/.vs
/release
/simple-vad/data
/simple-vad/x64
/simple-vad-gui/bin
/simple-vad-gui/obj
/x64
/simple-vad-v1.2.zip
*.srt
*.zip
